.background-color-test {
    background-color: #f7f8fa
}

.btn-widget {
    background-color: #9c227d !important;
    color: #fff !important;
}

.kt-widget4 .kt-widget4__item {
    border: none !important;
}
