<div class="kt-portlet border-radius-5 shadow-none">   
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="kt-align-center">
                    <div class="kt-padding-t-10 kt-font-boldest kt-font-lg kt-font-primary">{{l('CERTIFICATE No.ADHICS/2020001')}}</div>
                    <div class="kt-padding-t-10 kt-font-bold">{{l('IT IS HEREBY CERTIFIED THAT THE')}}</div>
                    <div class="kt-padding-t-10 kt-font-boldest kt-font-lg kt-font-primary">{{l('NMC Speciality Hospital (NMC Group Entity) 373888')}}</div>
                    <div class="kt-padding-t-10 kt-font-bold">{{l('Licenses under the Group or type of')}}</div>
                    <div class="kt-padding-t-10 kt-font-bold">{{l('HAS ACHIEVED THE PASSING GRADE AS')}}</div>
                    <div class="kt-padding-t-10 kt-font-bold">{{l('< C >')}}</div>
                    <div class="kt-padding-t-10">{{l('IN THE SCOPE, OF')}}</div>
                    <div class="kt-padding-t-10 kt-font-boldest h1 kt-font-primary">{{l('ADHICS CERTIFICATION')}}</div>
                    <p class="kt-padding-t-10 kt-font-bold">
                        {{l('Theuse and validity of this certification are subject to comploance with the relevant rules ofADHICS Methodolgy of Department of Health Abu Dhabi')}}
                    </p>
                    <p class="kt-padding-t-10">{{l('The Validity of this certificates is dependent on the passing grade achieved as documented in the methodology')}}</p>
                    <div class="row kt-padding-t-20 align-items-baseline">
                        <div class="col-6">
                            <img src="../../../../../assets/common/images/DoH Logo.svg" height="150" width="150"/>
                        </div>
                        <div class="col-6">
                            <div class="h3">{{l('Signature')}}</div>
                            <div class="kt-font-bold">{{l('Name')}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="kt-font-bold">{{l('Issue Date')}}</span>
                        </div>
                        <div class="col-4">
                            <span class="kt-font-bold">{{l('Fffective Date')}}</span>
                        </div>
                        <div class="col-4">
                            <span class="kt-font-bold">{{l('Expiry Date')}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
      
    </div>
</div>
