<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #facilityTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="facilityType.id">{{l("EditFacilityType")}}</span>
                        <span *ngIf="!facilityType.id">{{l("CreateNewFacilityType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FacilityType_Name" class="required">{{l("Name")}}</label>
                        <input type="text" id="FacilityType_Name" class="form-control" [(ngModel)]="facilityType.name" name="Name" required/>
                    </div>
                    <div class="form-group">
                        <label for="ControlRequirement_ControlType"  class="required">{{ l("Control Type") }}</label>
                        <select class="form-control"
                                name="ControlType"
                                id="ControlRequirement_ControlType" [ngValue]="facilityType.controlType"
                                [(ngModel)]="facilityType.controlType" required>
                            <option value="undefined"  selected>{{l("Select")}}</option>
                            <option value="0">{{l("Basic")}}</option>
                            <option value="1"> {{l("Transitional")}}</option>
                            <option value="2">{{l("Advanced")}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default btn-icon-sm btn-sm btn-sm" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-brand btn-icon-sm btn-sm border-radius-5" [disabled]="!facilityTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
