<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("FeedBack")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{l("FeedBack Details")}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-subheader__wrapper">
                            <button *ngIf="isGranted('Pages.FeedbackDetail.Create')"
                                    (click)="createQuestion()"
                                    class="btn btn-brand btn-icon-sm btn-sm border-radius-5">
                                <i class="fa fa-plus"></i>
                                {{ l("Create New FeedBack") }}
                            </button>
                            <!--<button 
                                    (click)="test()"
                                    class="btn btn-brand btn-icon-sm btn-sm border-radius-5">
                                <i class="fa fa-plus"></i>
                                {{ l("Test") }}
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{l("FeedBack")}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar kt-margin-b-0">

                        <div class="form-group m-form__group align-items-center kt-margin-b-0">
                            <div class="input-group">
                                <input name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                <span class="input-group-btn margin-left--5">
                                    <button class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12"
                             [busyIf]="primengTableHelper.isLoading">
                            <div>
                                <p-table #dataTable
                                         (onLazyLoad)="getfeedback($event)"
                                         [value]="primengTableHelper.records"
                                         rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         [paginator]="false"
                                         [lazy]="true"
                                         [scrollable]="true"
                                         ScrollWidth="100%"
                                         [responsive]="primengTableHelper.isResponsive"
                                         [resizableColumns]="primengTableHelper.resizableColumns"
                                         [selection]="selectedRowData" (selectionChange)="onSelectionChange($event)">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 30px !important">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th style="width: 130px" [hidden]="!isGrantedAny('Pages.FeedbackDetail.Edit', 'Pages.FeedbackDetail.Delete')">{{l('Actions')}}</th>
                                            <th style="width: 80px">
                                                {{l('ID')}}
                                                <!--<p-sortIcon field="contact.code"></p-sortIcon>-->
                                            </th>
                                            <th style="width: 150px" pSortableColumn="firstName">
                                                {{l('Title')}}
                                                <p-sortIcon field="contact.firstName"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="lastName">
                                                {{l('Date')}}

                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-record="$implicit">
                                        <tr [pSelectableRow]="rowData">
                                            <td style="width: 30px !important">
                                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                            </td>
                                            <td style="width: 130px" >
                                                <a class="kt-padding-r-20" *ngIf="permission.isGranted('Pages.FeedbackDetail.Edit')"   (click)="CreateOrEditFeedbackDetailModal.show(record.id)">
                                                    <i class="fas fa-pencil-alt icon-font-size-1 kt-font-info"></i>
                                                </a>
                                                <a class="kt-padding-r-20" *ngIf="permission.isGranted('Pages.FeedbackDetail.Delete')"     (click)="deletefeedbackdetail(record.id)">
                                                    <i class="far fa-trash-alt icon-font-size-1 kt-font-danger"></i>
                                                </a>
                                            </td>
                                            <td style="width:80px">
                                                <span class="ui-column-title"> {{l('Code')}}</span>
                                                {{record.code}}
                                            </td>
                                            <td style="width:150px">
                                                <span class="ui-column-title"> {{l('title')}}</span>
                                                {{record.title}}
                                            </td>
                                            <td style="width:150px">
                                                <span class="ui-column-title"> {{l('Date')}}</span>
                                                {{record.actionDate | date}}
                                            </td>

                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container mt-2">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                             #paginator
                                             (onPageChange)="getfeedback($event)"
                                             [totalRecords]="primengTableHelper.totalRecordsCount"
                                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
    <CreateOrEditFeedbackDetailModal #CreateOrEditFeedbackDetailModal
                                     (modalSave)="getfeedback()"></CreateOrEditFeedbackDetailModal>
</div>

