<div class="kt-portlet border-radius-5 kt-padding-10 shadow-none">
    <div class="row kt-padding-t-10">
        <div class="col-1">
            <span class="kt-font-bolder kt-font-md">{{l('License No:')}}</span>
        </div>
        <div class="col-4">
            <input type="text" class="w-100" placeholder="" disabled/>
        </div>
        <div class="col-4 kt-align-right">
            <span class="kt-font-smer kt-font-md">{{l('Entity Name')}}</span>
        </div>
        <div class="col-3">
            <select class="w-100">
                <option>{{l('ABC Hopital')}}</option>
                <option>{{l('ACD Hospital')}}</option>
                <option>{{l('New World Hospital')}}</option>
                <option>{{l('ABC Pharmacy')}}</option>
            </select>
        </div>
    </div>
    <div class="kt-portlet__body kt-padding-0">
        <table class="table kt-margin-t-10 table-bordered">
            <thead>
                <tr class="tr-bg-color">
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Level of noncompliance (partial/ full)')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Noncompliance description')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Root Cause')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Corrective Action')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Responsible Person')}}</th>
                    <th class="kt-font-md kt-align-center width-12 kt-font-light">{{l('Target Date')}}</th>                    
                    <th class="kt-font-md kt-align-center width-20 kt-font-light">{{l('Accepted from CB /notes')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
