<div bsModal
     #createOrEditModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="createOrEditModal"
     aria-hidden="true"
     [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active"
                  #feedbackdetailForm="ngForm"
                  novalidate
                  (ngSubmit)="save()"
                  autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="createFeedbackDetail.id &&  hideButton != 1">
                            {{l("Edit Feedback Detail")}}
                        </span>
                       
                        <span *ngIf="!createFeedbackDetail.id">
                            {{l("Create New Feedback ")}}
                        </span>
                    </h4>
                    <button type="button"
                            class="close"
                            (click)="close()"
                            aria-label="Close"
                            [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" [perfectScrollbar]="{wheelPropagation: false}"
                     [ngStyle]="{'max-height': '75vh', 'position': 'relative'}">
                    <div class="container" [ngClass]=" hideButton==1 ? 'pointerNone' : 'pointerAuto'">
                        <h5>FeedBack </h5>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ControlRequirement_Code" class="required">
                                        Feedback ID
                                    </label>
                                    <input type="text"
                                           id="Feedback_Code"
                                           class="form-control"
                                           placeholder="System Generated"
                                           [(ngModel)]="createFeedbackDetail.code"
                                           name="Code"
                                           disabled />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="feedback_Titile" class="required">Title</label>
                                    <input type="text" id="feedback_Titile" class="form-control" [(ngModel)]="createFeedbackDetail.title"
                                           name="feedbacktitle" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="feedback_Validate_day" class="required">Link Validate Day</label>
                                    <input type="text" id="feedback_Validate_day" class="form-control" [(ngModel)]="createFeedbackDetail.linkValidationDay"
                                           name="feedbackValidateday" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group m-form__group">
                                    <label for="action_Date" class="required">
                                       Date
                                    </label>
                                    <div>

                                        <input id="requestDatePicker"
                                               type="text"
                                               #requestDatePicker="ngModel"
                                               name="requestDatePicker"
                                               class="form-control"
                                               bsDatepicker required
                                               datePickerMomentModifier
                                               [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MMM-YYYY' }"
                                               [(date)]="createFeedbackDetail.actionDate"
                                               [(ngModel)]="createFeedbackDetail.actionDate"
                                               autocomplete="off" />
                                       
                                        
                                        <validation-messages [formCtrl]="requestDatePicker"></validation-messages>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    
                        <h5>Questions</h5>
                        <hr />
                        <p-pickList [source]="feedbackquestion" [target]="attachedQuestions" class="w-100" sourceHeader="All Questions" targetHeader="Selected Questions"
                                    [responsive]="true" filterBy="descriptions" [showSourceControls]="true" [showTargetControls]="true">
                            <ng-template let-qu pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="kt-padding-t-5 kt-padding-b-5">{{qu.description}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving"
                            type="button"
                            class="btn btn-default btn-icon-sm btn-sm btn-sm"
                            (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" *ngIf="hideButton != 1"
                            [ngClass]=" hideButton==1 ? 'pointerNone' : 'pointerAuto'"
                            class="btn btn-brand btn-icon-sm btn-sm border-radius-5"
                            [disabled]="!feedbackdetailForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
