<!-- <div class="kt-register__title"></div> -->

<div class="row" style="margin-top:20%;">
    <div class="col-6 kt-align-center">
        <a (click)="healthCare()">
            <img src="../../assets/common/images/business-entity.svg" style="height: 40%;width: 40%;" />
            <div class="kt-margin-t-10" style="color: black;font-size: 1.3em;font-weight: 500;">
                <span>Healthcare Entity Registration</span>
            </div>
        </a>
    </div>
    <div class="col-6 kt-align-center">
        <a (click)="externalAudit()">
            <img src="../../assets/common/images/audit-agency.svg" style="height: 40%;width: 40%;">
            <div class="kt-margin-t-10" style="color: black;font-size: 1.3em;font-weight: 500;">
                <span>Audit Agency Registration</span>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <div class="d-inline-flex float-right">
            <span class="kt-portlet__head-wrapper kt-padding-r-20">
                <button type="button"
                        (click)="backClicked()"
                        class="btn btn-outline-danger btn-icon-sm btn-sm btn-sm btn-sm">
                    <i class="fa fa-arrow-left"></i>Back
                </button>
            </span>
        </div>
    </div>
</div>
