<div>
    <div class="border-bottom kt-margin-t-5 kt-margin-b-5 kt-margin-b-10">
        <span class="h6">{{l('Surviellance Audit')}}</span>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>{{l('Surviellance Audit ID')}}</label>
                <input type="text"
                       disabled
                       class="form-control"
                       name="code"
                       [(ngModel)]="auditSurviellanceProject.code"
                       placeholder="System Generated" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="entityGroupId!=null">
            <div class="form-group">
                <label>{{l('Group Name')}}</label>
                <ng-select [items]="entityGroup"
                           [searchable]="true"
                           bindLabel="name"
                           [disabled]="entityGroupId > 0 ||reauditPermission"
                           bindValue="id"
                           placeholder="Group Name"
                           [(ngModel)]="entityGroupId"
                           name="Group Name">
                </ng-select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>{{l('Facilities')}}</label>
                <p-multiSelect name="belookup"
                [disabled]="reauditPermission"
                               [options]="businessentity"
                               placeholder="Select Business Entities"
                               optionLabel="companyName"
                               [(ngModel)]="selectedBusinessEntity"
                               (onChange)="getbusinessentityChange()"
                               [style]="{'width': '100%'}"></p-multiSelect>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>{{l('Date')}}</label>
                <div id="incident_closeDatetime" class="kt-input-icon">
                    <input id="incident_closeDatetime"
                    [disabled]="reauditPermission"
                           readonly
                           type="datetime"
                           #incident_closeDatetime
                           name="closeDate"
                           class="form-control input-group date"
                           bsDatepicker
                           datePickerMomentModifier
                           [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                           [(date)]="auditSurviellanceProject.date"
                           autocomplete="off" />
                    <span class="position-absolute"
                          style="top: 25%; right: 20px; font-size: 18px;">
                        <span><i class="flaticon-calendar-1"></i></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>{{l('Planned By')}}</label>
                <ng-select [items]="auditAgencyAdmins"
                [disabled]="reauditPermission"
                           [searchable]="true"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="Select"
                           [(ngModel)]="auditSurviellanceProject.plannedById"
                           name="Planned">
                </ng-select>
            </div>
        </div>
    </div>
    <div>
        <table class="table kt-margin-t-10 table-bordered">
            <thead>
                <tr class="tr-bg-color" style="background-color: #00aff0 !important;">
                    <th class="kt-font-bold kt-align-center width-10 kt-font-light kt-font-sm">
                        {{l('Audit Type')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-12 kt-font-light kt-font-sm">
                        {{l('Facility Name')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-10 kt-font-light kt-font-sm">
                        {{l('Start Date')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-10 kt-font-light kt-font-sm">
                        {{l('End Date')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-10 kt-font-light kt-font-sm">
                        {{l('Man Day(s)')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-12 kt-font-light kt-font-sm">
                        {{l('N° Sampling site')}}
                    </th>
                    <th class="kt-font-bold kt-align-center width-25 kt-font-light kt-font-sm">
                        {{l('Processes/Aspects')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of auditSurviellanceProject.auditSurviellanceEntities;let i=index">
                    <td>
                        <ng-select [items]="auditType"
                        [disabled]="reauditPermission"
                                   [searchable]="true"
                                   bindLabel="name"
                                   bindValue="id"
                                   placeholder="select"
                                   [(ngModel)]="item.auditTypeId"
                                   name="auditType{{i}}">
                        </ng-select>
                    </td>
                    <td>
                        <ng-select [items]="businessentity"
                                   [searchable]="true"
                                   bindLabel="companyName"
                                   disabled
                                   bindValue="id"
                                   placeholder="select"
                                   [(ngModel)]="item.businessEntityId"
                                   name="businessEntity{{i}}">
                        </ng-select>
                    </td>
                    <td>
                        <div id="incident_closeDatetime" class="kt-input-icon" [ngStyle]="reauditPermission ? {'pointer-events':'none'} : {'pointer-events': 'auto'}">
                            <input id="startDate"
                                   readonly
                                   [disabled]="reauditPermission"
                                   type="datetime"
                                   #startDate="bsDatepicker"
                                   name="startdate{{i}}"
                                   class="form-control input-group date"
                                   bsDatepicker
                                   datePickerMomentModifier
                                   [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                   [(date)]="item.startDate"
                                   autocomplete="off" />
                            <span class="position-absolute"
                                  style="top: 20%;right: 8px;font-size: 18px;line-height: 1.2em;">
                                <span><i (click)="startDate.toggle()" [attr.aria-expanded]="startDate.isOpen" class="flaticon-calendar-1"></i></span>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div id="incident_closeDatetime" class="kt-input-icon" [ngStyle]="reauditPermission ? {'pointer-events':'none'} : {'pointer-events': 'auto'}">
                            <input id="incident_closeDatetime"
                                   readonly
                                   [disabled]="reauditPermission"
                                   type="datetime"
                                   #incident_closeDatetime="bsDatepicker"
                                   name="endDate{{i}}"
                                   class="form-control input-group date"
                                   bsDatepicker
                                   datePickerMomentModifier
                                   [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                                   [(date)]="item.endDate"
                                   autocomplete="off" />
                            <span class="position-absolute"
                                  style="top: 20%;right: 8px;font-size: 18px;line-height: 1.2em;">
                                <span><i (click)="incident_closeDatetime.toggle()" [attr.aria-expanded]="incident_closeDatetime.isOpen" class="flaticon-calendar-1"></i></span>
                            </span>
                        </div>
                    </td>
                    <td>
                        <input type="number"
                        [disabled]="reauditPermission"
                               class="form-control"
                               name="manDays{{i}}"
                               [(ngModel)]="item.manDays" />
                    </td>
                    <td>
                        <input type="text"
                        [disabled]="reauditPermission"
                               class="form-control"
                               name="samplingSite{{i}}"
                               [(ngModel)]="item.samplingSite" />
                    </td>
                    <td>
                        <input type="text"
                        [disabled]="reauditPermission"
                               class="form-control"
                               name="process{{i}}"
                               [(ngModel)]="item.process" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
