.btn-header-org-mng:hover {
    background-color: #f5e8f2 !important;
    color: #60174e !important;
    border-radius: 0px !important;
}

.btn-header-org-mng {
    border-radius: 0px !important;
    color: darkgray;
}

#form_business_management .kt-subheader .btn {
    height: 45px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
