<div id="form_business_management" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{"Meeting" | localize}}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{"All Meeting" | localize}}
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button class="btn btn-brand btn-icon-sm btn-sm border-radius-5" (click)="createEditMeetingModals.show()" *ngIf="'Pages.AuditManagement.Meeting.Create' | permission">
                        <i class="fa fa-plus"></i> {{"Create Meeting / Plan" | localize}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{"Meeting/ Plan List" | localize}}
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="form-group m-form__group align-items-center kt-margin-b-0">
                        <div class="input-group">
                            <input name="filterText" class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                   type="text">
                            <span class="input-group-btn margin-left--5">
                                <button class="btn btn-primary form-control" type="submit">
                                    <i class="flaticon-search-1"
                                       [attr.aria-label]="l('Search')"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-padding-t-10">
                <grid-meeting></grid-meeting>
            </div>
        </div>
    </div>
</div>
<createEditMeetingModals #createEditMeetingModals></createEditMeetingModals>
