<div class="kt-portlet border-radius-5 shadow-none">
    <div class="kt-portlet border-radius-5 shadow-none">
        <div class="kt-padding-10 border-radius-5" style="background-color:#f3f6f9 !important">
            <div class="row">
                <div class="col-2 kt-align-center">
                    <button class="btn kt-font-md kt-font-boldest kt-padding-5 border-radius-5" (click)="setFindingType('')"
                            [ngClass]="{'btn-youtube': step === 'step1'}">
                        {{l('All Findings')}}
                    </button>
                </div>
                <div class="col-2 kt-align-center">
                    <button class="btn kt-font-md kt-font-boldest kt-padding-5 border-radius-5" (click)="setFindingType('Internal')"
                            [ngClass]="{'btn-youtube': step === 'step2'}">
                        {{l('External Audit Findings')}}
                    </button>
                </div>
                <div class="col-2 kt-align-center">
                    <button class="btn kt-font-md kt-font-boldest kt-padding-5 border-radius-5" (click)="setFindingType('External')"
                            [ngClass]="{'btn-youtube': step === 'step3'}">
                        {{l('Internal Audit Findings')}}
                    </button>
                </div>
                <div class="col-2 kt-align-center">
                    <span class="kt-font-md kt-font-boldest" *ngIf="auditSpecific">
                        <p-inputSwitch class="kt-padding-10" (click)="IsAuditOrNot()"></p-inputSwitch>
                        <span style="position: relative; top: -7px;">{{l('Audit Specific')}}</span>
                    </span>
                </div>
                <div class="col-4">
                    <div class="form-check-inline w-100">
                        <span class="kt-font-bolder kt-font-md kt-padding-r-5 w-25">{{l('Entity Name')}}</span>
                        <ng-select [items]="businessEntity" [searchable]="false" bindLabel="name" class="w-75"
                                   bindValue="id" placeholder="Select External Audit" (change)="SetEntity(selectedEntityId)"
                                   [(ngModel)]="selectedEntityId"
                                   name="ExternalAudit">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-padding-0 kt-padding-t-10">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr class="bg-skype">
                        <th class="th-sm kt-font-md kt-font-light" style="width: 80px;">{{l('Finding ID')}}</th>
                        <th class="th-sm kt-font-md kt-font-light">{{l('Finding Title')}}</th>
                        <th class="th-sm kt-font-md kt-font-light">{{l('Type')}}</th>
                        <th class="th-sm kt-font-md kt-font-light">{{l('Description')}}</th>
                        <th class="th-sm kt-font-md kt-font-light">{{l('Status')}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of finding ">
                        <td class="kt-font-md" style="width: 80px;">{{item.code}}</td>
                        <td class="kt-font-md">{{item.title}}</td>
                        <td class="kt-font-md">{{item.type}}</td>
                        <td class="kt-font-md">{{item.classificationName}}</td>
                        <td class="kt-font-md">{{item.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
