.background-color-test {
    background-color: #f7f8fa
}

.btn-widget {
    background-color: #9c227d !important;
    color: #fff !important;
}

.kt-widget4 .kt-widget4__item {
    border: none !important;
}
.selected {
    background-color: #f3f6f9 !important;
}
.table thead th, .table thead td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.width-33 {
    width: 33% !important;
}
.width-16 {
    width: 16% !important;
}
.width-25 {
    width: 25% !important;
}
.tr-bg-color {
    background-color: #00aff0 !important;
}
.border-radius-50{
    border-radius:50px !important;
}
.height-width-20 {
    height: 20px !important;
    width: 20px !important
}
