<div class="kt-portlet kt-portlet--height-fluid recent-tenants">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                IRM Statistics
                <small>
                    IRM area wise
                </small>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body"  [perfectScrollbar]>
        <div class="kt-widget14">
            <div class="row kt-widget14__content">
                <div class="col-lg-7 col-md-7 col-sm-12" style="max-height:300px ">
                    <ngx-charts-pie-chart [results]="IncidentExceptionFinding" [view]="view"
                                          [doughnut]="true" [legend]="false" [labels]="false"
                                          [scheme]="colorScheme" [animations]="false"
                                          [tooltipDisabled]="true">
                    </ngx-charts-pie-chart>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 kt-widget14__legends"
                     *ngIf="IncidentExceptionFinding.length">
                    <div class="kt-widget14__legend" *ngFor="let item of IncidentExceptionFinding; index as i" style="cursor:pointer" (click)="redirectTo(item?.label)">
                        <span class="kt-widget14__bullet " [style.backgroundColor]="colorScheme.domain[i]"></span>
                        <span class="kt-widget14__stats">
                            {{item?.label}}
                        </span>
                    </div>
                </div>

                <!--<div class="col-lg-6 col-md-12 kt-widget14__legends">
                    <div class="kt-widget14__legend">
                        <span class="kt-widget14__bullet kt-bg-success"></span>
                        <span class="kt-widget14__stats">
                            24% Incidents
                        </span>
                    </div>
                    <div class="kt-widget14__legend">
                        <span class="kt-widget14__bullet kt-bg-warning"></span>
                        <span class="kt-widget14__stats">
                            22% Exceptions
                        </span>
                    </div>
                    <div class="kt-widget14__legend">
                        <span class="kt-widget14__bullet kt-bg-brand"></span>
                        <span class="kt-widget14__stats">
                            44% Business Risks
                        </span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
