<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-color:#fff">
    <div class="kt-subheader kt-grid__item border-bottom">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{"Compliance Management" | localize}}</span>
                </h3>
            </div>
            <div class="kt-subheader__toolbar">

            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="row">
            <div class="col-lg-3 com-md-6 col-sm-6">
                <div class="kt-portlet shadow-none border">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <i style="font-size:25px" class="la la-university"></i>
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{l('Authoritative Documents')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{totalcount.domianCount }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 com-md-6 col-sm-6">
                <div class="kt-portlet shadow-none border">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <i style="font-size:25px" class="la la-university"></i>
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{l('External Question')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{totalcount.externalAsstQuestionCount}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 com-md-6 col-sm-6">
                <div class="kt-portlet shadow-none border">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <i style="font-size:25px" class="la la-university"></i>
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{l('Question')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{totalcount.selfAssessmentQuestionCount }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 com-md-6 col-sm-6">
                <div class="kt-portlet shadow-none border">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <i style="font-size:25px" class="la la-university"></i>
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{l('Question Group')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{totalcount.questionGroupCount }}</div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 com-md-6 col-sm-6">
                <div class="kt-portlet shadow-none border">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <i style="font-size:25px" class="la la-university"></i>
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{l('Control Requiremnent')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{totalcount.controlRequiremnentCount }}</div>
                    </div>
                </div>
            </div>-->
        </div>
        <!--<div class="row">
        <div class="col-lg-3 com-md-6 col-sm-6" *ngFor="let item of taskCard; let i = index">
            <div class="kt-portlet shadow-none border">
                <div class="kt-portlet__body">
                    <div class="kt-widget4">
                        <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                                <i style="font-size:25px" class="{{item.icon}}"></i>
                            </div>
                            <div class="kt-widget4__info">
                                <p class="kt-widget4__text">
                                    {{item.title}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="kt-font-lg kt-font-boldest kt-padding-t-20">{{item.amt}}</div>
                </div>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="col-6">
                <div class="kt-portlet kt-portlet--mobile m-portlet--full-height shadow-none border">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-padding-t-10">
                        <!--<ngx-charts-bar-vertical [view]="view"
                                             [scheme]="colorScheme"
                                             [results]="single"
                                             [gradient]="gradient"
                                             [xAxis]="showXAxis"
                                             [yAxis]="showYAxis"
                                             [legend]="showLegend"
                                             [showXAxisLabel]="showXAxisLabel"
                                             [showYAxisLabel]="showYAxisLabel"
                                             [xAxisLabel]="xAxisLabel"
                                             [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>-->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="kt-portlet kt-portlet--mobile m-portlet--full-height shadow-none border">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-padding-t-10">

                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-6">
                <div class="kt-portlet kt-portlet--mobile m-portlet--full-height shadow-none border">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-padding-t-10">

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="kt-portlet kt-portlet--mobile m-portlet--full-height shadow-none border">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-padding-t-10">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
