.tr-bg-color {
    background-color: #00aff0 !important;
}

.width-10 {
    width: 10% !important;
}

.width-25 {
    width: 25% !important;
}

.width-12 {
    width: 12% !important;
}

.table thead th, .table thead td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
