.bg-color-tab {
    background-color: #f2f2f2 !important;
    border-radius: 10px !important;
}
.btn-width{
    min-width:130px !important
}
.btn-bg-color {
    color: #000 ;
    background-color: #dddddd ;
}
.btn-bg-color-selected {
    background-color: #f2f2f2 !important;
    border: none !important;
    color: #000 !important;
}
.w-15{
    width:15% !important;
    float:right
}
