<div>
    <div>
        <div class="border-bottom kt-padding-t-5 kt-padding-b-5 kt-margin-b-10">
            <span class="h6">{{l('Surviellance Audit')}}</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Decision ID')}}</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Group Name')}}</label>
                    <select class="form-control w-100">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Facility Name')}}</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('License No')}}</label>
                    <select class="form-control w-100">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Facility Type')}}</label>
                    <select class="form-control w-100">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Proposal - Date')}}</label>
                    <div id="incident_closeDatetime" class="kt-input-icon">
                        <input id="incident_closeDatetime" required
                               type="datetime"
                               #incident_closeDatetime
                               name="closeDate"
                               class="form-control input-group date"
                               bsDatepicker
                               datePickerMomentModifier
                               [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                               autocomplete="off" />
                        <span class="position-absolute"
                              style="top: 25%; right: 20px; font-size: 18px;">
                            <span><i class="flaticon-calendar-1"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="border-bottom kt-padding-t-5 kt-padding-b-5 kt-margin-b-10">
            <span class="h6">{{l('TECHNICAL COMMITTEE - DECISION')}}</span>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="form-group">
                    <label>{{l('Documents')}}</label>
                    <div class="checkbox-list row">
                        <label class="checkbox col-6" *ngFor="let item of documentsList;let i = index">
                            <input type="checkbox" name="Checkboxes1">
                            <span></span><span class="kt-padding-l-5 lable-position">{{item.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Others applicable')}}</label>
                    <select class="form-control w-100">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="border-bottom kt-padding-t-5 kt-padding-b-5 kt-margin-b-10">
            <span class="h6">{{l('Input Documents Checked - Evidences & Artifacts')}}</span>
        </div>
        <span class="kt-margin-t-10 kt-margin-b-10">{{l('Audit documentation was reviewed and audit steps completed, considering all applicable above. A Decision is proposed  as')}}</span>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Documents')}}</label>
                    <div class="checkbox-list row">
                        <label class="checkbox col-12" *ngFor="let item of certifiableExcept;let i = index">
                            <input type="checkbox" name="Checkboxes1">
                            <span></span><span class="kt-padding-l-5 lable-position">{{item.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Passing Grade Achieved')}}</label>
                    <input type="text" class="form-control" placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>{{l('Passing Grade Achieved')}}</label>
                    <input type="text" class="form-control" placeholder="System Generated">
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>{{l('Synthetic Judgement')}}</label>
                    <textarea rows="3" class="form-control" placeholder="Please enter judgement details...."></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>{{l('Decision')}}</label>
                    <textarea rows="3" class="form-control" placeholder="Please enter judgement details...."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="border-bottom">
            {{l('Approval')}}
        </div>
        <div class="row kt-padding-t-10">
            <div class="col-6">
                <div class="form-group">
                    <label>{{"Signature" | localize}} </label>
                    <div class="border">
                        <signature-pad #signaturen [options]="signaturePadOptions"></signature-pad>
                    </div>
                    <div class="kt-padding-t-10">
                        <input type="text" class="w-100 form-control" disabled placeholder="Name, Role, Authority" />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>{{"Signature" | localize}} </label>
                    <div class="border">
                        <signature-pad #signaturen1 [options]="signaturePadOptions"></signature-pad>
                    </div>
                    <div class="kt-padding-t-10">
                        <input type="text" class="w-100 form-control" disabled placeholder="Name, Role, Audit Agency" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="decisionID">
        <div class="border-bottom">
            {{l('Technical Committee')}}
        </div>
        <p-accordion>
            <p-accordionTab>
                <p-header>
                    <div class="kt-align-center">{{l('Authority')}}</div>
                </p-header>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="w-100 form-control" placeholder="Name, Role, Authority" disabled />
                    </div>
                    <div class="col-6">
                        <textarea rows="3" placeholder="" class="w-100 form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <input type="text" class="w-100 form-control" placeholder="Name, Role, Authority" disabled />
                    </div>
                    <div class="col-6">
                        <textarea rows="3" class="w-100 form-control" placeholder=""></textarea>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab>
                <p-header>
                    <div class="kt-align-center">{{l('Audit Agency')}}</div>
                </p-header>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="w-100 form-control" placeholder="Name, Role, Audit Agency" disabled />
                    </div>
                    <div class="col-6">
                        <textarea rows="3" placeholder="" class="w-100"></textarea>
                    </div>
                    <div class="col-6">
                        <input type="text" class="w-100 form-control" placeholder="Name, Role, Audit Agency" disabled />
                    </div>
                    <div class="col-6">
                        <textarea rows="3" placeholder="" class="w-100"></textarea>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
